@tailwind base;
@tailwind components;
@tailwind utilities;




/* Box sizing border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,body,#root {
  margin: 0 auto;
  background-color: #EFF2F5;
  display: flex;
}



/* CustomTabs.css */

.custom-tab-list {
  display: flex;
  gap: 5px; /* Add gap between tabs */
}

.custom-tab {
  padding: 10px; /* Adjust padding */
  cursor: pointer;
}

.custom-tab.react-tabs__tab--selected {
  background-color: transparent; /* Remove default background color */
  border-bottom: #2870EA solid 3px;
}

.custom-tab.react-tabs__tab--selected:focus {
  outline: none; /* Optionally remove focus outline */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pnl{
  padding: 3px 30px;
  font-weight: 500;
  width:100px;
  display: flex;
  justify-items: center;
  justify-content: center;
  border-radius: 8px;
  gap:5px;
}

.loss{
  background-color: #ee685519;
  color: #f7324c;
}

.profit{
  background-color: #EBF9F4;
  color: #00b386;
}

.pnl-desc{
  display: flex;
  justify-items: center;
  justify-content: center;
  min-width: 80px;
  padding:4px 10px;
  border-radius: 5px;
  gap:8px;
}


* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
a {
  display: block;
}
ul {
  margin: 0;
  margin-inline: 0 !important;
  padding: 0;
  list-style: none;
}
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
.tab-panel--selected {
  animation-name: tabPanel;
  animation-duration: 300ms;
  animation-timing-function: linear;
}
@keyframes tabPanel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
